@font-face {
  font-family: 'noto';
  src: url('../fonts/noto-sans-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto';
  src: url('../fonts/noto-sans-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'noto';
  src: url('../fonts/noto-sans-700.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'noto';
  src: url('../fonts/noto-sans-700italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'source code';
  src: url('../fonts/source-code-pro-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source code';
  src: url('../fonts/source-code-pro-500.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
