nav {
  font-size: round($font-size-base * 1.3);
  background-color: #fff;
  padding: round($padding-lg * 1.5);

  .nav-container {
    width: $page-width;
    margin: auto;
  }

  .about {
     float: right;
     line-height: 2;
     margin-left: $padding-xl;
 }
}
