.page {
  padding-top: $padding-lg;
  margin: auto;
  width: $page-width;
  min-height: 600px;

    h2 {
      font-size: round($font-size-base * 2);
      margin-bottom: $padding-base;
    }
}

.page-stretch {
  @extend .page;
  margin: auto;
  width: 95%;

  h2 {
     text-align: left;
     font-size: $font-size-lg;
     max-width: $page-width;
     margin: auto;

     .sub-title {
        font-size: $font-size-base;
        font-style: italic;
     }
 }
}
