.page {
  padding-top: $padding-lg;
  margin: auto;
  width: $page-width;
  min-height: 600px;

   em {
      font-style: italic;
   }
}

.page-content {
    h2 {
      font-size: round($font-size-base * 2);
      line-height: 2;
    }
    h3 {
      font-size: round($font-size-base * 1.7);
      margin-top: $padding-xl;
      line-height: 2;
   }

   p, ul {
      font-size: round($font-size-base * 1.2);
      line-height: 1.5;
      margin-bottom: $padding-xl;
   }

   ul {
      list-style-type: disc;
      position: relative;
      left: $padding-xl;
   }
}

.page-stretch {
  @extend .page;
  margin: auto;
  width: 95%;

  h2 {
     text-align: left;
     font-size: $font-size-lg;
     max-width: $page-width;
     margin: auto;
     margin-bottom: $padding-lg*2;

     .sub-title {
        font-size: $font-size-base;
        font-style: italic;
     }
 }
}
