<div class="page">
   <span class="text-muted">For best results, use EXPLAIN (ANALYZE, COSTS, VERBOSE, BUFFERS, FORMAT JSON)</span>
   <button class="btn btn-link" (click)="prefill()">create a sample plan</button>
  <div>
    <input placeholder="name (optional)" class="input-box input-box-main" type="text" [(ngModel)]="newPlanName">
    <button class="btn btn-default btn-lg pad-top pull-right" (click)="submitPlan()">submit</button>
  </div>

  <textarea placeholder="paste execution plan" class="input-box input-box-lg" [(ngModel)]="newPlanContent"></textarea>
  <textarea placeholder="paste corresponding SQL query" class="input-box input-box-lg" [(ngModel)]="newPlanQuery"></textarea>
</div>
