<nav>
   <div class="nav-container">
      <a class="about"[routerLink]="['About']">about</a>
      <a class="btn btn-primary btn-lg pull-right" [routerLink]="['PlanNew']">new plan</a>
      <a [routerLink]="['PlanList']">plans</a>
   </div>
</nav>

<router-outlet></router-outlet>

<footer><strong>pev</strong> is made by
   <a href="http://tatiyants.com/">Alex Tatiyants</a>
   <a href="https://twitter.com/AlexTatiyants"><i class="fa fa-twitter"></i></a>
   <a href="https://github.com/AlexTatiyants"><i class="fa fa-github"></i></a>
</footer>
